body {
  background: url("/uploads/fondo.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: #0a0a0f;
  color: #fff;
}

@media (max-width: 768px) {
  body {
    background-attachment: scroll;
    background-position: center top;
    background-size: cover;
  }
}

